{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "BarcosConnection": "COPIA DE appsettings.json O USA TU CONNECTION STRING LOCAL"
  }
}
